/* #### PADDLE DEFINITION #### */
.paddle {
	position:relative;
	left:0;
	top:0;
	width:220px;
	height:270px;
	background:#e9e5e5;		
}
.paddle h1 .prefix {
	
	position:relative;
	left:0;
	top:0;
	width:12px;
	height:12px;
	display:block;
	float:left;
	margin:6px 3px 0 3px;
	padding:0;
	background:url('pics/prefix_title.jpg') center center no-repeat;
}
.paddle h1 {
	
	position:relative;
	left:0;
	top:0;
	font-size:14pt;
	font-weight:normal;
	color:#424242;
	display:block;
	padding:10px 0 5px 0;
	margin:0;
	float:left;
}
.paddle .picture {
	
	clear:both;
	position:relative;
	top:0;
	left:0;
	width:220px;
	height:140px;
	overflow:hidden;
	margin:0 auto 0 auto;
}
.paddle .picture img {	
	height:140px;
}
.paddle .txt {
	position:relative;
	left:0;
	top:0;
	margin:10px auto 0 auto;
	width:200px;
	height:80px;
	overflow:hidden;
}

.paddle .btn_more {
	
	position:absolute;
	right:-10px;
	bottom:-15px;
	width:108px;
	height:26px;
	background:url('pics/bg_btn_more.png') center center no-repeat;
	color:#fff;
	font-weight:bold;
	line-height:1.6em;
	text-align:center;
	font-size:10pt;
}
.paddle .btn_more a:link, .paddle .btn_more a:hover, .paddle .btn_more a:visited {
	color:#fff;
	text-decoration:none;
}





/* this file is included in the tiny CMS editor */
h1 {	
	font-size: 2em; 
	margin:3px 0 3px 0;
	padding:0;
}

h2 {	
	
	font-size: 1.5em;
	margin:3px 0 3px 0;
	padding:0;
}
h3 {	
	font-size: 1.17em;
	margin:0;
	padding:0;
}
h4 {	
	font-size: 1em;
	margin:0;
	padding:0;
}
h5 {	
	font-size: .83em;
	margin:0;
	padding:0;
}
h6 {	
	font-size: .75em;
	margin:0;
	padding:0;
}
p { 
	margin:0;
	padding:0 
}

a:link, a:visited {
	color:#fff;
	text-decoration:none;
}
a:hover {
	color:#fff;
	text-decoration:underline;
}




a.scroll_anchor:link, a.scroll_anchor:visited, a.scroll_anchor:hover {
	
	font-size:8pt;
	font-style:italic;
	color:#999;
	text-decoration:none;
}
a.scroll_anchor:hover {
	text-decoration:underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #ff9900;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
