<div id='header'>

	<div id='header_content'>
<div style='position:absolute; left:-9px; top:0;'><a href='index.html'><img alt="Application Exemple" class="round" src="/images/logo.png" /></a></div>
<div style='position:absolute; left:250px; top:10px; width:730px; height:115px;'>

<div style='' class='tiny_content'>
<h1><span style="color: #ff9900;"><strong>&gt;</strong></span> L'expert comptable des architectes</h1>
<p style="padding-left: 30px;">Vous &ecirc;tes propri&eacute;taire d'une agence d'architecture</p>
<p style="padding-left: 30px;">et vous cherchez un partenaire dans la gestion, la comptabilit&eacute;</p>
<p style="padding-left: 30px;">et le d&eacute;veloppement de votre entreprise ? Nous sommes l&agrave; pour r&eacute;pondre &agrave; vos besoins.</p>
</div></div>

	</div>
</div>