<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<title>Expert Comptable des Architectes - Création d'une agence, Accompagnement, Boite à outils</title>

	<meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
	<meta http-equiv='Content-type' content='application/xhtml+xml; charset=UTF-8' />
	<meta http-equiv='Content-Language' content='fr-CA' />
	<meta http-equiv='imagetoolbar' content='no' />
	<meta http-equiv='msthemecompatible' content='no' />
	<meta name='description' content='Expert comptable à  l&#039;écoute des architectes. Tenue de la comptabilité. Révision comptable Bilan comptable. Fiche de paie. Secrétariat juridique. Conseil en fiscalité et social' />
	<meta name='keywords' content='Expert comptable,Architectes,Architecte,Architecte indépendant,Bilan,Bilan comptable,Bilan comptable architecte,Bilan architecte,Saisie comptable,Saisie comptable d&#039;un architecte,Saisie comptable d&#039;une agence d&#039;architecture,Comptable architecte,Comptabilit,Comptabilité architecte,Comptabilité d architecte,Comptabilité d&#039;architecte,Comptabilite,Comptabilite architecte,Comptabilite agence architecture,Tenue comptable,Tenue d&#039;une comptabilité,Tenue d&#039;une comptabilité d&#039;architecte,Régime fiscal d&#039;un architecte,Régime social d&#039;un architecte,Création d&#039;une agence d&#039;architecture,Création d&#039;une agence d&#039;architecte,Créer une agence architecture,Se mettre à son compte architecte,Obligation comptable,Obligation comptable architecte,Obligation fiscale ,Obligation fiscale architecte,Fiche de paie,Comptabilite SARL architecture,Gestion tresorerie architecte,Gestion tresorerie agence architecte,Devenir architecte,Ordre architectes,Ordre des architectes' />
	<meta name='copyright' content='SAMNAKA (c)' />
	<meta name='author' content='SAMNAKA, http://www.samnaka.fr' />

	<link rel='stylesheet' type='text/css' href='stylesheets/controls.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/style.cms.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/structure.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/style.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/menu.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/application.css' />
	<link rel='stylesheet' type='text/css' href='stylesheets/common.css' />

	<script type='text/javascript' src='javascripts/jquery/jquery.js'></script>
	<script type='text/javascript' src='javascripts/jquery-ui-1.8.17.custom.min.js'></script>
	<script type='text/javascript' src='javascripts/jquery/jquery.tooltip.js'></script>
	<script type='text/javascript' src='javascripts/jquery/jquery.lazyload.js'></script>
	<script type='text/javascript' src='javascripts/easyslider.js'></script>
	<!--[if lt IE 7]>
		<script type='text/javascript' src='javascripts/pngfix.js'></script>
		<script type='text/javascript'>window.attachEvent('onload', correctPNG);</script>
	<![endif]-->

	<!--[if lt IE 10]>
		<script type='text/javascript' src='javascripts/PIE.js'></script>
	<![endif]-->
	<script type='text/javascript' src='javascripts/system.js'></script>
	<script type='text/javascript' src='javascripts/application.js'></script>

</head>


<body>
	<div style='position:fixed; left:50%; margin-left:410px; top:0'><img alt="Application Exemple" class="round" src="/images/plan1.png" /></div>
	
	<div class="container">
		
		
		
		
     	<!-- HEADER ########################################################################################################################################################################################################################################## -->
		<div id='header'>

			<div id='header_content'>
		<div style='position:absolute; left:-9px; top:0;'><a href='index.html'><img alt="Application Exemple" class="round" src="/images/logo.png" /></a></div>
		<div style='position:absolute; left:250px; top:10px; width:730px; height:115px;'>

		<div style='' class='tiny_content'>
		<h1><span style="color: #ff9900;"><strong>&gt;</strong></span> L'expert comptable des architectes</h1>
		<p style="padding-left: 30px;">Vous &ecirc;tes propri&eacute;taire d'une agence d'architecture</p>
		<p style="padding-left: 30px;">et vous cherchez un partenaire dans la gestion, la comptabilit&eacute;</p>
		<p style="padding-left: 30px;">et le d&eacute;veloppement de votre entreprise ? Nous sommes l&agrave; pour r&eacute;pondre &agrave; vos besoins.</p>
		</div></div>

			</div>
		</div>
	




     



<!-- PAGE ########################################################################################################################################################################################################################################## -->
<div id='page'>

<!-- MENU ########################################################################################################################################################################################################################################## -->
	<div id='menu'>

		<div id='menu_content'>
		</div>

	</div>


<!-- CONTENT ########################################################################################################################################################################################################################################## -->
<div id='content_top_before'>

</div>
<div id='content'>

	<div id='content_top'>
		
	</div>

	<!-- #### LEFT #### -->
	<div id='content_left'>

		<div id='content_left_top'>

		</div>

		<div id='content_left_container'>
<div id='accordion'>
	<h3 id='menu_0' class='first h3_link'><a href='http://compta-architectes.com/index.html' class='selected'><img alt="Application Exemple" class="round" src="/images/menu/icon1.jpg" />Accueil</a></h3>
	<div class='empty_div'></div>
	<h3 id='menu_1' class='  h3_link'><a href='http://compta-architectes.com/expert-comptable-architectes-.html'><img src='images/menu/icon4.jpg' alt='' />Notre culture</a></h3>
	<div class='empty_div'></div>
	<h3 id='menu_2' class=' '><a href='#'><img src='images/menu/icon2.jpg' alt='' />Notre métier</a></h3>
	<div>
		<p><a href='http://compta-architectes.com/nos-valeurs.html'>Nos valeurs</a></p>
		<p><a href='http://compta-architectes.com/notre-deontologie.html'>Notre déontologie</a></p>
	</div>
	<h3 id='menu_3' class=' '><a href='creation-d-agence.html'><img src='images/menu/icon3.jpg' alt='' />Création ou acquisition d'une agence</a></h3>
	<div>
		<p><a href='http://compta-architectes.com/creation-d-agence.html'>La création d'une agence</a></p>
		<p><a href='http://compta-architectes.com/choix-statut.html'>Le choix du statut pour exercer le métier d'Architecte</a></p>
		<p><a href='http://compta-architectes.com/les-formalites-accomplir.html'>Les formalités à accomplir</a></p>
		<p><a href='http://compta-architectes.com/evaluation-d-agence-d-architecte.html'>L'évaluation d'une agence Architecte</a></p>
	</div>
	<h3 id='menu_4' class=' '><a href='les-missions-l-expert-comptable.html'><img src='images/menu/icon4.jpg' alt='' />L'accompagnement de l'expert comptable</a></h3>
	<div>
		<p><a href='http://compta-architectes.com/expert-comptable-architectes.html'>Les missions de l'expert comptable</a></p>
		<p><a href='http://compta-architectes.com/comptabilite-architectes.html'>La mission comptable</a></p>
		<p><a href='http://compta-architectes.com/la-mission-fiscale.html'>La mission fiscale</a></p>
		<p><a href='http://compta-architectes.com/la-mission-sociale.html'>La mission sociale</a></p>
		<p><a href='http://compta-architectes.com/la-mission-juridique.html'>La mission juridique</a></p>
		<p><a href='http://compta-architectes.com/le-suivi-de-la-comptabilite-analytique.html'>Le suivi de la comptabilité analytique</a></p>
		<p><a href='http://compta-architectes.com/l-externalisation.html'>L'externalisation</a></p>
	</div>
	<h3 id='menu_5' class=' '><a href='#'><img src='images/menu/icon4.jpg' alt='' />L'assistance d'un avocat spécialisé</a></h3>
	<div>
		<p><a href='http://compta-architectes.com/conseil-proteger-les-interets-l-architecte.html'>Le conseil : protéger les intérêts de l'architecte</a></p>
		<p><a href='http://compta-architectes.com/contentieux-defendre-les-interets-l-architecte.html'>Le contentieux : défendre les intérêts de l'architecte</a></p>
	</div>
	<h3 id='menu_6' class='  h3_link'><a href='http://compta-architectes.com/contact.html'><img src='images/menu/icon6.jpg' alt='' />Contact</a></h3>
	<div class='empty_div'></div>
	<h3 id='menu_7' class='  h3_link'><a href='http://compta-architectes.com/boite-outils.html'><img src='images/menu/icon5.jpg' alt='' />La boite à outils</a></h3>
	<div class='empty_div'></div>
</div>
<input type='hidden' id='menu_position' name='menu_position' value='1' />
<div class='relatived' style='margin:15px auto 0 auto; padding-top:10px; border-top:solid 1px #fff; text-align:center;'><a href='http://www.experts-comptables.fr' onclick='window.open(this.href); return false;'><img src='/images/logo_ordre_architectes.jpg' alt='Ordre des architectes' /></a>
	 <a href="https://www.signexpert.fr" target="_blank" title="www.signexpert.fr"><img src="/images/LogoSignexpert.jpg" alt="https://www.signexpert.fr"/></a></div>

		</div>

		<div id='content_left_bottom'>

		</div>
		
</div>
		<!-- #### MIDDLE #### -->
			<div id='content_middle'>

				<div id='content_middle_top'>
								
				</div>

				<div id='content_middle_container'>

					<div id='txt_page'>
						<div id='txt_page_title'><img src='images/page_title.png' alt='' /><h1>Compta Links</h1></div>
					
				
			
					<span id='top'></span>

				
						
						
							<div style='' class='tiny_content'>
								 <section class="round">
							        <% flash.each do |key, value| %>
							          <div class="flash <%= key %>"><%= value %></div>
							        <% end %>
							        <%= yield %>
							      </section>
								
							</div></div>

									</div>

						
						
						
					

				
				</div>
					
			

				<div id='content_middle_bottom'>
					
				</div>

			</div> <!-- MIDDLE -->

		
		
	

				<!-- FOOTER ########################################################################################################################################################################################################################################## -->
				<div id='footer'>
					<div id='footer_content'>
				<div class='relatived' style='width:960px; height:120px; margin:0 auto 0 auto'>
					<div style='position:absolute; left:-130px; top:-348px'><img src='images/plan2.png' alt='' /></div>
					<div style='position:absolute; left:-5px; top:-20px'>
						<img style='position:absolute; left:0; top:0; z-index:0' src='images/nous_joindre_par_telephone.png' alt='nous joindre par telephone' />
						<div id='numero_vert'>01 47 63 17 18</div>
						<div style='position:absolute; left:-10px; top:75px; width:300px; text-align:center;'>Contactez-nous sans engagement de votre part<br />Premier rendez-vous gratuit</div>
					</div>
					<div style='position:absolute; left:340px; top:-25px'><a href='http://compta-architectes.com/contact.html'><img src='images/nous_joindre_par_email.png' alt='nous joindre par email' /></a></div>
					<div style='position:absolute; left:650px; width:342px; height:82px; top:-25px'>
						<form id='f_rappel' method='post' action='http://compta-architectes.com/phone.html'>
							<div style='position:absolute; left:0; top:0; z-index:0'><img src='images/rappel_gratuit.png' alt='rappel gratut' /></div>
							<div style='position:absolute; right:0; top:47px; z-index:1; cusro:pointer;' id='btn_rappel_ok'><img src='images/rappel_gratuit_ok.png' alt='ok' /></div>
							<div style='position:absolute; left:25px; top:50px; z-index:2'><input title='Votre nom' type='text' class='textbox focusable' name='surname' id='surname' value='Votre nom' style='width:130px;' /></div>
							<div style='position:absolute; left:165px; top:50px; z-index:2'><input title='Votre numéro'type='text' class='textbox focusable' name='phone' id='phone' value='Votre numéro' style='width:110px;' /></div>
						</form>
					</div>
					<div style='position:absolute; left:0; bottom:0; width:100%; height:30px; text-align:center;'>
				<span class='first'><a href='#' style='cursor:default;'>2011 Cabinet d'expertise comptable CEA</a></span>
				<span><a href='http://compta-architectes.com/mentions-legales.html'>Mentions légales</a></span>
				<span><a href='http://compta-architectes.com/plan.html'>Plan du site</a></span>
				<span><a href='#' style='cursor:default;'>Crédits</a></span>
					</div>
				</div>
					</div>

				</div> <!-- FOOTER -->
			
		
	
	<!-- GOOGLE ANALYTICS ########################################################################################################################################################################################################################################## -->
			<script type="text/javascript">
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
				try{
					var pageTracker = _gat._getTracker("UA-23848473-1");
					pageTracker._trackPageview();
				} catch(err) {}
			</script>
			</body>
	</html>


	
